* {
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.logo-and-nav {
    height: 120px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
}

.logo-position {
    display: flex;
    align-items: center;
}

.logo-position p {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    height: 38px;
}

.logo-position img {
    height: 58px;
    width: 52px;
}

.logo-position a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}


.nav-position {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav a {
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-left: 16px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;  
    color: #008000;
}

.recipe-overview {
    padding-top: 100px;
    height: 280px;
}


.recipe-overview img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

body {
    font-family: Raleway;
}

.padding-class {
    padding-left: 90px;
    padding-right: 90px;
}

.informations {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding-bottom: 64px;
    border-bottom: 1px solid #EFEFEF;
}

.how-to {
    display: block;
    /* width: 800px; */
}


.time-skill-information img {
    width: 12px;
    height: 12px;
}

.time-skill-information {
    background-color: #EFEFEF;
    padding: 6px;
    margin-right: 30px;
    border-radius: 8px;
    column-gap: 4px;
    display: flex;
    align-items: center;
}

/* .date-information {
} */

.separator {
    border-bottom: 1px solid;
}

.ingredients {
    margin-top: 12px;
    margin-bottom: 12px;
}

.ingredients input {
    border-radius: 8px 0px 0px 8px;
    border-color: #EFEFEF;
    border-width: thin;
    width: 124px;
    padding: 5px 1px;
}

.ingredients a {
    background-color: #008000;
    color: white;
    padding: 7px 26px;
    font-size: 12px;
    column-gap: 8px;
}

table {
    width: 100%;
    margin-bottom: 16px;
}

table td {
    padding: 16px;
    border-radius: 8px;
}

tr:nth-child(odd) {
  background-color: #EFEFEF;
}

.time-estimate-information {
    background-color: #EFEFEF;
    margin-right: 30px;
    border-radius: 8px;
    column-gap: 4px;
    display: flex;
    align-items: center;
}

h2 {
    margin-bottom: 16px;
}

.recipe-by {
    margin-bottom: 96px;
}

.profile {
    margin-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.profile img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.profile p {
    font-size: 24px;
}

footer {
   padding: 0 90px;
   background-color: #403b3b;
   display: flex;
   align-items: center;
   flex-direction: column;
   color: white;
}

.folgen {
   font-size: 36px;
   padding-top: 20px;
   display: flex;
   align-items: center;
}

.footersocialmedia {
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   display: flex;
   justify-content: space-around;
   align-items: center;
   max-width: 1440px;
}

.logofooter {
   height: 44px;
   object-fit: contain;
   filter: invert(1);
   padding: 0 10px;
}

.border {
   margin: 0px 8px;
   border-radius: 100%;
}

.socialmedia {
   object-fit: contain;
   height: 40px;
}

.footer-links {
   padding: 16px 0;
   width: 100%;
   border-bottom: 1px grey dashed;
   border-top: 1px grey dashed;
   gap: 32px;
   display: flex;
   justify-content: space-around;
   max-width: 750px;
}

.footer-link {
   text-decoration: none;
   color: white;
}

.copyright {
   padding: 20px 0;
   max-width: 1440px;
}

.icon8 {
   display: flex;
   gap: 8px;
   display: flex;
   justify-content: center;
}


/* a:hover {
   color: #008000;
   text-decoration: underline;
} */