* {
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.logo-and-nav {
    height: 120px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo-position {
    display: flex;
    align-items: center;
}

.logo-position p {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    height: 38px;
    margin-bottom: 24px;
}

.logo-position img {
    height: 58px;
    width: 52px;
    margin-bottom: 20px;
}

.nav-position {
    padding-bottom: 8px;
}

nav a {
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-left: 16px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;  
    color: #008000;
}

.recipe-overview {
    padding-top: 100px;
    height: 300px;
}


.recipe-overview img {
    height: 200px;
    width: 100%;
    object-fit: none;
    border-radius: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}

body {
    font-family: Raleway;
}

.padding-class {
    padding-left: 90px;
    padding-right: 90px;
}

.informations {
    display: flex;
    align-items: center;
    padding-bottom: 64px;
    border-bottom: 1px solid #EFEFEF;
}

.time-skill-information img {
    width: 12px;
    height: 12px;
}

.time-skill-information {
    width: 70px;
    background-color: #EFEFEF;
    padding: 6px;
    margin-right: 30px;
    border-radius: 8px;
    column-gap: 4px;
    display: flex;
    align-items: center;
}

.date-information {
    width: 98px;
}

.separator {
    border-bottom: 1px solid;
}

.ingredients {
    margin-top: 8px;
    margin-bottom: 8px;

}

.ingredients input {
    height: 24px;
    border-radius: 6px;
}

.ingredients a {
    background-color: #008000;
    color: white;
    padding: 6px 24px;
    column-gap: 4px;
}

table {
    width: 100%;
    margin-bottom: 16px;
}

table td {
    padding: 16px;
    border-radius: 8px;
}

tr:nth-child(even) {
  background-color: #EFEFEF;
}

.time-estimate-information {
    width: 240px;
    height: 50px;
    background-color: #EFEFEF;
    padding: 6px;
    margin-right: 30px;
    border-radius: 8px;
    column-gap: 4px;
    display: flex;
    align-items: center;
}

.recipe-by {
    margin-bottom: 96px;
}

.profile {
    margin-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.profile img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.profile p {
    font-size: 24px;
}

.footer-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 144px;
    background-color:  #0A141E;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    color: white;
}

.social-img {
    height: 40px;
    width: 40px;
}

