* {
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

header {
   /* top: 0;
   left: 0;
   right: 0;
   height: 120px; */
   max-width: 1440px;
   margin-left: 90px;
   margin-right: 90px;
   flex: 1;
}

.box-shadow {
   box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.logo-and-nav {
   height: 120px;
   display: flex;
   justify-content: space-between;
}

.logo-position {
   display: flex;
   align-items: center;
}

.logo-position p {
   font-family: "Raleway", sans-serif;
   font-size: 38px;
   height: 38px;
}

.logo-position img {
   height: 58px;
   width: 52px;
}

.logo-position a {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: black;
}

.nav-position {
   padding-bottom: 8px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

nav a {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   color: black;
   font-weight: bold;
   padding-left: 16px;
   text-decoration: none;
}

nav a:hover {
   text-decoration: underline;
   text-underline-offset: 10px;
   text-decoration-thickness: 4px;
   color: #008000;
}

body {
   font-family: Raleway;
   font-size: 16px;
   font-weight: 200;
   color: rgb(40, 40, 40);
}

section {
   padding: 38px 90px;
   max-width: 1440px;
   flex: 1;
}

.abovesection {
   display: flex;
   justify-content: center;
}

h2 {
   text-align: center;
   margin-bottom: 38px;
   font-size: 20px;
   font-weight: 500;
}

.wok-pfanne-text {
   display: flex;
}

.wok-img {
   height: 180px;
   object-fit: contain;
   border-radius: 10px;
   margin-left: 24px;
}

.hide-text{
   margin-right: 12px;
}

footer {
   padding: 0 90px;
   background-color: #403b3b;
   display: flex;
   align-items: center;
   flex-direction: column;
   color: white;
}

.folgen {
   font-size: 36px;
   padding-top: 20px;
   display: flex;
   align-items: center;
}

.footersocialmedia {
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   display: flex;
   justify-content: space-around;
   align-items: center;
   max-width: 1440px;
}

.logofooter {
   height: 44px;
   object-fit: contain;
   filter: invert(1);
   padding: 0 10px;
}

.border {
   margin: 0px 8px;
   border-radius: 100%;
}

.socialmedia {
   object-fit: contain;
   height: 40px;
}

.footer-links {
   padding: 16px 0;
   width: 100%;
   border-bottom: 1px grey dashed;
   border-top: 1px grey dashed;
   gap: 32px;
   display: flex;
   justify-content: space-around;
   max-width: 750px;
   text-align: center;
}

.footer-link {
   text-decoration: none;
   color: white;
}

.copyright {
   padding: 20px 0;
   max-width: 1440px;
}

.icon8 {
   display: flex;
   gap: 8px;
   display: flex;
   justify-content: center;
}

footer a:hover {
   color: #008000;
   text-decoration: underline;
}

.section1 {
   display: flex;
}

.section1 img {
   height: 220px;
   width: auto;
   border-radius: 10px;
   object-fit: cover;
}

.section2 {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.backgroundcolor {
   background-color: #EFEFEF;
}

.section2 img {
   height: 220px;
   width: 220px;
   border-radius: 10px;
   object-fit: cover;
}


h1 {
   font-size: 20px;
   font-weight: 500;
   margin-top: 5px;
}

.section1 p {
   font-weight: 200;
   margin-top: 20px;
}

.section1 button {
   background: green;
   color: white;
   padding: 10px 40px;
   border-style: none;
   margin-top: 55px;
}

.section1 button:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.section1 div {
   margin-left: 30px;
}

form {
   display: flex;
   flex-direction: column;
}

.kontaktformular {
   background: #efefef;
   height: 100%;
   width: 500px;
   border-radius: 15px;
   font-weight: 200;
   padding: 15px;
}

.kontaktformular_button:hover {
   cursor: pointer;
   transform: scale(1.1);
}

form input {
   border: none;
   border-radius: 5px;
   height: 20px;
   margin-bottom: 30px;
}

.kontaktiere_uns {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 30px;
}

.kontaktformular_button {
   background: green;
   color: white;
   border-style: none;
   height: 30px;
   width: 120px;
   border-radius: 0px;
   margin-bottom: 0px;
}

.deinenachricht_input {
   height: 250px;
   padding-bottom: 230px;
   box-sizing: border-box;
}

.kontaktformular_section {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 200px;
   padding-bottom: 200px;
}

.kontaktbutton_container {
   display: flex;
   justify-content: center;
}

.kontakt_div {
   display: flex;
   justify-content: center;
}

.section2 a {
   text-decoration: none;
   color: rgb(40, 40, 40);
}

.section2 a p {
   margin-top: 10px;
   font-weight: 500;
}

.section2 a:hover {
   text-decoration: underline;
   text-underline-offset: 10px;
   text-decoration-thickness: 4px;
   color: #008000;
}


@media (max-width: 800px) {
   .section1 {
      flex-direction: column;
   }

   .section1 img {
      margin-bottom: 20px;
   }

   .section1 button {
      margin-top: 20px;

   }

   .section1 div {
      margin-left: 0px;
   }

   .section1_responsive h1 {
      text-align: center;
   }

   .section1_responsive {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }

   .wok-pfanne-text {
      flex-direction: column;
      gap: 30px;
      text-align: center;
   }

   .wok-img {
      object-fit: cover;
   }

   .footer-links {
      display: flex;
      text-align: center;
      flex-direction: column;
      gap: 8px;
   }

}

@media (max-width: 1160px) {
   .section2 {
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
   }
}

@media (max-width: 560px) {
  .kontaktformular {
   width: 250px;
  }

  section {
   padding: 38px 30px;
  }

   .hide-text {
   display: none; 
   }

   .copyright {
      display: flex;
      text-align: center;
      flex-direction: column;

   }

}

@media (min-width:320px){
   .footer-links{
      gap: 8px;
   }

   .copyright{
      min-width: 300px;
      font-size: 14px;
      gap: 8px;
   }
}