* {
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

header {
   top: 0;
   left: 0;
   right: 0;
   height: 120px;
   box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.logo-and-nav {
   height: 120px;
   padding-left: 150px;
   padding-right: 150px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.logo-position {
   display: flex;
   align-items: center;
}

.logo-position p {
   font-family: "Raleway", sans-serif;
   font-size: 38px;
   height: 38px;
   margin-bottom: 24px;
}

.logo-position img {
   height: 58px;
   width: 52px;
   margin-bottom: 20px;
}

.nav-position {
   padding-bottom: 8px;
}

nav a {
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   color: black;
   font-weight: bold;
   padding-left: 16px;
   text-decoration: none;
}

nav a:hover {
   text-decoration: underline;
   text-underline-offset: 10px;
   text-decoration-thickness: 4px;
   color: #008000;
}

body {
   font-family: Raleway;
   font-size: 16px;
   color: rgb(40, 40, 40);
}

section {
   padding: 38px 90px;
   /* max-width: 1440px; */
}

h2 {
   text-align: center;
   padding: 24px 0;
}

.wok-pfanne-text {
   display: flex;
}

.wok-img {
   height: 200px;
   object-fit: contain;
   border-radius: 10px;
   margin-left: 24px;
}

footer {
   padding: 0 90px;
   background-color: #403b3b;
   display: flex;
   align-items: center;
   flex-direction: column;
   color: white;
}

.folgen {
   font-size: 36px;
   padding-top: 20px;
   display: flex;
   align-items: center;
}

.footersocialmedia {
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   display: flex;
   justify-content: space-around;
   align-items: center;
   max-width: 1440px;
}

.logofooter {
   height: 44px;
   object-fit: contain;
   filter: invert(1);
   padding: 0 10px;
}

.border {
   margin: 0px 8px;
   border-radius: 100%;
}

.socialmedia {
   object-fit: contain;
   height: 40px;
}

.footer-links {
   padding: 16px 0;
   width: 100%;
   border-bottom: 1px grey dashed;
   border-top: 1px grey dashed;
   gap: 32px;
   display: flex;
   justify-content: space-around;
   max-width: 750px;
}

.footer-link {
   text-decoration: none;
   color: white;
}

.copyright {
   padding: 20px 0;
   max-width: 1440px;
}

.icon8 {
   display: flex;
   gap: 8px;
   display: flex;
   justify-content: center;
}

a:hover {
   color: #008000;
   text-decoration: underline;
}

.section1 {
   display: flex;
}

.section1 img {
   height: 220px;
   width: auto;
   border-radius: 10px;
}

.section2 {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.backgroundcolor {
   background-color: #EFEFEF;
   padding-bottom: 70px;
}

.section2 img {
   height: 220px;
   width: 220px;
   border-radius: 10px;
}


h1 {
   font-size: 18px;
   font-weight: 500;
   margin-top: 5px;
}

.section1 p {
   font-weight: 200;
   margin-top: 20px;
}

.section1 button {
   background: green;
   color: white;
   padding: 10px 40px;
   border-style: none;
   margin-top: 55px;
}

.section1 div {
   margin-left: 30px;
}

form {
   display: flex;
   flex-direction: column;
}

.kontaktformular {
   background: #efefef;
   height: 100%;
   width: 500px;
   border-radius: 15px;
   font-weight: 200;
   padding: 15px;
}

.kontaktformular_button:hover {
   cursor: pointer;
}

form input {
   border: none;
   border-radius: 5px;
   height: 20px;
   margin-bottom: 30px;
}

.kontaktiere_uns {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 30px;
}

.kontaktformular_button {
   background: green;
   color: white;
   border-style: none;
   height: 30px;
   width: 120px;
   border-radius: 0px;
   margin-bottom: 0px;
}

.deinenachricht_input {
   height: 250px;
   padding-bottom: 230px;
   box-sizing: border-box;
}

.kontaktformular_section {
   display: flex;
   justify-content: center;
   align-items: center;
}

.kontaktbutton_container {
   display: flex;
   justify-content: center;
}